#header-div {
    background-color: red;
}
#header-logo {
    padding: 10px;
    src: url('./images/logo.png');
    max-width: 5vw;
}
#nav-div {
    float: left;
    width: 30vw;
    height: 95vh;
    background-color:lightgray;
}
#list-div {
    float: right;
    width: 60vw;
    height: 95vh;
}
button {
    border-radius: 5px;
    border-style: none;
    color: white;
    background: gray;
}
button:hover {
    background: red;
}
li {
    font-size: .7em;
}