@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
#content {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}
.background {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.2);
}
#no-background {
    display: none;
}
#task-div, #project-div {
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 200px;
}
input {
    margin-bottom: 10px;
}
#header-div {
    background-color: red;
    flex: 1 100%;
}
#header-logo {
    src: url('./images/logo.png');
    max-width: 5vw;
}
#nav-div, #list-div, #header-div {
    padding: 10px;
}
#nav-div {
    flex: 1 0px;
    height: 95vh;
    background-color:lightgray;
}
#list-div {
    flex: 2 0px;
    height: 95vh;
}
p {
    margin: 0px;
}
#project-list p:hover {
    color: red;
    cursor: pointer;
}
.project {
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.task {
    display: grid;
    grid-template-rows: 25px 25px;
    grid-template-columns: 30px auto 80px 20px;
    border-radius: 10px;
    align-items: center;
}
.task:hover {
    background-color: red;
    cursor: pointer;
}
.completed {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    margin: 3px;
    border-radius: 50%;
}
#green {
    background: green;
}
#blue {
    background: blue;
}
#red {
    background: red;
}
#none {
    background: gray;
}
.name {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
}
.date {
    grid-area: 1 / 3 / 2 / 4;
}
.remove {
    grid-area: 1 / 4 / 2 / 5;
    justify-self: center;
    margin: 3px;
    border-radius: 50%;
}
.details {
    grid-area: 2 / 2 / 3 / 5;
    font-size: .8em;
}
#button-container {
    display: flex;
    justify-content: space-between;
}
button {
    margin-top: 15px;
    border-radius: 3px;
    border-style: none;
    color: white;
    background: gray;
}
button:hover {
    background: red;
}
h1 {
    color: red;
    font-size: 1.25em;
}